body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
}  
a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}
.error {
    font-size: 2em;
    text-align: center;
    color:#ff2a1a;
    margin-bottom: 10px;
}
.error li
{ 
  list-style: none;
  font-size: 1em; 
}